.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 25px;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #064293;
}
.style11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F28041;
	font-weight: bold;
}
.style5 {
	font-family: Verdana;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
	}
.style10 {
	font-family: Verdana;
	font-size: 18px;
	color: #064293;
	font-weight: bold;
	}
.style7 {
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
}
body {
	background-color: #B1B1B1;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #064293;
	text-decoration: none;
}
a:active {
	color: #CC0000;
	text-decoration: none;
}
.orange_link:link {
		color: #FFFFFF;
	text-decoration: none;
}
.orange_link:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.orange_link:hover {
	color: #064293;
	text-decoration: none;
}
.orange_link:active {
	color: #FFFFFF;
	text-decoration: none;
}
.style8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
	line-height: 45px;
}
.style9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.stylel15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #254D5E;
	border:#32B4B9;
	border:medium;
/*	background-color:#AAE1DC;*/
	border: 1px solid #3D7193;
}
.style16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#23837E;
	line-height: 25px;
}
	
