body  {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font:12px Arial,Tahoma;
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #000000;
}
#sof
{
	width:1200px;
	
}
a
{
	text-decoration:none;
}
/*--------------------------------------------------- Left Menu ---------------------------------------------------*/
#sof_left
{
	float:left;
	width:254px;
	background:#bcbec0;
}
#sof_left .sof_left_logo
{
	height:172px;
}
#sof_left .sof_left_menu
{
	
}
.color_line_fttext
{
	clear:both;
	background:#f2f2f2;
	font:bold 14px Arial,Tahoma;
	color:#4d4d4f;
	padding:10px;
	text-align:left;
	padding-left:30px;
	overflow:hidden;
	text-decoration:none;
}
.color_line_fttext a
{
	text-decoration:none;
}
.color_line_hdtext
{
	background:#f2f2f2;
	font:bold 14px Arial,Tahoma;
	color:#4d4d4f;
	border-bottom:1px #eaeaea solid;
	padding:10px;
	text-align:left;
	padding-left:30px;
}
.color_line_text
{
	background:#f2f2f2;
	text-align:left;
	padding:10px;
	color:#000000;
	padding-left:30px;
	font:14px Arial,Tahoma;
	border-bottom:1px #eaeaea solid;
}
#sof_left .sof_left_menu .color_line
{
	color:#fff;
	font:14px Arial,Tahoma;
	background:#1278d1;
	text-align:left;
	line-height:22px;
}
.color_line_bold
{
	color:#fff;
	font:bold 14px Arial,Tahoma;
	background:#1278d1;
	text-align:center;
	line-height:22px;
	padding:10px;
}
#sof_left .sof_left_menu .color_line  a
{
	color:#fff;
	font:14px Arial,Tahoma;
	text-align:left;
	line-height:22px;
	text-decoration:none;
}
#sof_left .sof_left_menu .color_line p
{
	padding:0px;
	margin:0px;
	padding-left:30px;
}
#sof_left .sof_left_menu .color_line ul li p
{
	padding-left:0px;
	line-height:33px;
}
#sof_left .sof_left_menu .color_line ul
{
	font:14px Arial,Tahoma;
	font-weight:none;
	background:#f2f2f2;
	color:#666666;
	padding:0px;
	list-style:none;
	margin:0px;
}
#sof_left .sof_left_menu .color_line ul li
{
	border-bottom:1px #eaeaea solid;
	padding-left:20px;
}
#sof_left .sof_left_menu .color_line ul ul
{
	
}
#sof_left .sof_left_menu .color_line ul ul li
{
	border-top:1px #eaeaea solid;
	border-bottom:none;
	background:url(../images/leftadd.png) no-repeat top left;
}
#sof_left .sof_left_menu .color_line ul ul ul li
{
	border-top:1px #eaeaea solid;
	border-bottom:none;
	background:url(../images/arrow.png) no-repeat top left;
}
#sof_left .sof_left_menu .color_line ul li a
{
	color:#666666;
}
#sof_left .sof_left_menu .color_line ul li a:hover
{
	color:#1278d1;
}
#sof_left .sof_left_menu .none_line
{
	clear:both;
	background:#bcbec0;
	line-height:5px;
}
#sof_left .sof_left_themes
{
	padding:10px;
	padding-left:30px;
}
#sof_left .sof_left_themes .text_home,#sof_left .sof_left_themes .text_home a
{
	
	text-align:left;
	color:#4e4e50;
	text-decoration:none;
}
#sof_left .sof_left_themes .ft_hotline
{
	font:bold 16px Myriad Pro,Arial,Tahoma;
	color:red;
}
#sof_left .sof_left_themes .sof_left_themes_title
{
	color:#fff;
	font:14px Arial,Tahoma;
	background:#4d4d4f;
	text-align:left;
	line-height:22px;
	padding:5px;
	text-align:center;
	width:150px;
}
#sof_left .sof_left_themes .sof_left_themes_content
{
	width:150px;
	background:#f2f2f2;
	text-align:left;
	padding:5px;
}
/*--------------------------------------------------- Pages ---------------------------------------------------*/
#sof_pages
{
	background:#fff;
	width:944px;
	float:left;
	border:1px #EAEAEA solid;
}
#sof_pages .sof_pages_header { 
	background: #; 
	padding: 0;
	margin: 0;
	position: relative;
	background:#f2f2f2;
}
#sof_pages .sof_pages_header  .hd_title
{
	height:49px;
	border-bottom:1px #eaeaea solid;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_left
{
	width:333px;
	padding-left:30px;
	float:left;
	text-align:left;
	font:bold 14px Myriad Pro,Arial,Tahoma;
	padding-top:20px;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_right
{
	width:550px;
	padding-right:30px;
	padding-top:20px;
	float:right;
	text-align:right;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_right a
{
	color:#4d4d4f;
	padding:5px;
	text-decoration:none;
}
#sof_pages .sof_pages_header .hd_title_content
{
	height:40px;
	font:14px Myriad Pro,Arial,Tahoma;
	padding-top:13px;
	text-align:left;
	padding-left:30px;
}
#sof_pages .sof_pages_header .hd_func
{
	height:68px;
	border-bottom:1px #eaeaea solid;
}
#sof_pages .sof_pages_header .hd_func .hd_func_left
{
	padding-left:30px;
	float:left;
	text-align:left;
	color:#4d4d4f;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	padding-top:10px;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right
{
	width:550px;
	padding-right:30px;
	padding-top:40px;
	float:right;
	text-align:right;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right a
{
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
	padding:5px;
	text-decoration:none;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right a:hover
{
	color:#1278d1;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right ul
{
	padding:0px;
	margin:0px;
}
#sof_pages .sof_pages_header .hd_subtitle
{
	height:30px;
	padding-top:10px;
	text-transform:uppercase;
	font-size:20px;
}
.lvtitle
{
color:#006a96;
font-weight:bold;
}
/*-------------end id_search---------------*/
/*------------start contenthome--------------*/
#sof_pages  .sof_pages_content
{
	background:#fff;
	text-align:left;
	padding:20px;
}
#sof_pages  .sof_pages_content .frmlogin
{
	background:#f2f2f2;
	width:260px;
	font:12px Arial,Tahoma;
	font-weight:none;
	color:#000;
	overflow:hidden;
	padding:20px;
	border-right:1px #a3a3a3 solid;
	border-bottom:1px #a3a3a3 solid;
}
#sof_pages  .sof_pages_content .frmlogin .loginname
{
	clear:both;
	padding:5px;
	overflow:hidden;

}
#sof_pages  .sof_pages_content .frmlogin .loginname .inputtext
{
	width:250px;
	height:25px;
}
#sof_pages  .sof_pages_content .frmlogin .loginname .selecttext
{
	width:180px;
	height:25px;
}
/*-----------start footer----------------*/
#sof_pages .sof_pages_footer
{
	clear:both;
	background:#ffffff ; 
	height:112px;
}
#sof_pages .sof_pages_footer .sof_pages_footer_left
{
	font:12px Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
	float:left;
	right:left;
	width:333px;
	padding-left:30px;
	text-align:left;
}
#sof_pages .sof_pages_footer .sof_pages_footer_left span
{
	font:18px Arial,Tahoma;
	font-weight:none;
	color:#ff0000;
}
#sof_pages .sof_pages_footer .sof_pages_footer_right
{
	width:auto;
	padding-right:30px;
	text-align:right;
}
/*-----------end footer----------------*/


/*---------------other themes----------------*/
table,td {
	color: #000;
	font-size: 12px;
	}

p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 12px;
	}
	
form {
	margin: 0px;
	}
.lv0 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform:uppercase;
	}
h1 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform:uppercase;
	}

h2 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: 0px;
	margin-top: 0px;
	}

h3 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px; 
	font-weight: bold; 
	margin-bottom: 4px;
	}

h4 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	margin-bottom: 2px;
	}

h5 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px; 
	font-weight: bold; 
	margin-bottom: 1px;
	}
	
UL {
	margin:0px;
	padding: 0px;
	list-style: none;
	}
	
hr {
	height: 1px;
}

.lvhtable
{
font-family: 12pt Arial, Helvetica, sans-serif;
font-weight:bold;
background-color:#1278d1;
color:#FFFFFF;
text-align: center;
}
.lvlinehtable0
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#eaeaea;
}
.lvlinehtable1
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#ffffff;
}
.lvlinehtable3
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#F3898C;
}
.lvtable
{
width:100%;
border-spacing:1px;
border-left;
}
.lvTTable
{
font: 16pt Arial, Helvetica, sans-serif;
font-weight:bold;
text-align:center;
color:#326a9a;
}
.lviconimg
{
height:auto;
}
.lvmaxrow
{
width:50px;
}
.lvsortrow
{
width:100px;
}
TABLE#lvtoolbar {
	MARGIN-RIGHT: 30px;
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:#f2f2f2;
}
TABLE#lvtoolbar td
{
	padding:5px;
}
TABLE#lvtoolbar td .lv_functext
{
	padding-top:5px;
	padding-left:5px;
	color:#4d4d4f;
	font:14px Myriad Pro,Arial,Tahoma;
}
TABLE#lvtoolbar td .lv_functext:hover
{
	COLOR: #ff9900;
}
.lvtable 
{
	background:#d1d3d4;
}
.lvtable .cssbold_tab
{
	background:#F2F2F2;
}
.lvtable td
{
	padding:2px;
}
TABLE#lvtoolbar A.lvtoolbar {
	WIDTH: auto;
	height:30px;
	padding:5px;
	COLOR: #808080; 
	TEXT-DECORATION: none;
}
TABLE#lvtoolbar A.lvtoolbar:hover {
	COLOR: #c64934;
	BACKGROUND-COLOR: #f1e8e6p;
}
TABLE#lvtoolbar A.lvtoolbar:active {
	COLOR: #ff9900;
}
.lvframe
{
width:100%;
background-color:#f1f1f1;
border:0px #FFFFFF inset;
border-bottom:0px inset;

}
.lvnumpageselect
{
text-decoration:none;
background:#CCCCCC;
color:#FFFFFF;
}
.lvnumpagenone
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvnumpageprev
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvnumpagenext
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvbarview
{
color:#3e3e3e;

}
.lvfuncview
{
text-decoration:none;
color:#3e3e3e;

}
.lvcurrentTab
{
font:Arial, Helvetica, sans-serif;
text-decoration:none;
color:#006a96;
font-size:16px;

}
.lvotherTab
{
font:Arial, Helvetica, sans-serif;
text-decoration:none;
color:#FFFFFF;
font-size:16px;

}
.lvbtdisplay
{
width:140px;
height:25px;
border-collapse:collapse;
}
.lvlineapproval
{
color:#04521e;
}
.lvlineapproval_level2
{
color:#008844;
}
.lvlineboldtable
{
font-weight:bold;
}
.lvlinenoboldtable
{
font-weight:100;
}
.lv_linone
{

}
.lv_linone p
{
	width:100%;
	background:none;
}

.lv_liselected p
{
	width:100%;
	background:#000;
}
#menu_treeview
{
	width:234px;
}
#menu_treeview ul
{
	width:100%;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

#menu_treeview ul li span
{
	padding-left:10px;
}
#menu_treeview ul li ul li span
{
 padding-left:25px;
}
#menu_treeview ul li ul li ul li span
{
 padding-left:35px;
}
#menu_treeview ul li ul li ul li ul li span
{
 padding-left:45px;
}
/*#menu_treeview ul li ul
{
	padding-left:15px;
	width:100%;
}*/
#menu_treeview .lv_liselected
{
background: url("../images/images/inbox/menu_04.gif") no-repeat	scroll right top transparent;
}
#menu_treeview .lv_liselectedcon
{
background: url("../images/images/inbox/menu_04_con.gif") no-repeat	scroll right top transparent;
}
#menu_treeview ul li ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02_con.gif") no-repeat	scroll right top transparent;
    border-top: 1px solid #F1F1F1;
}
#menu_treeview ul li ul li ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02_con2.gif") no-repeat	scroll right top transparent;
    border-top: 1px solid #F1F1F1;
}
#menu_treeview ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02.gif") no-repeat	scroll right top transparent;
    border-bottom: 1px solid #F1F1F1;
}
#menu_treeview ul  a {
    color: #767676;
    display: block;
    font: bold 10pt arial,verdana,helvetica,sans-serif;
    padding: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 3px;
    
}
#menu_treeview ul .menuleft_con
{
	width: 100%;
	background: url("../images/images/muiten_con.png") no-repeat scroll right center transparent;	
}
#menu_treeview ul li ul li span {
	background: url("../images/images/muiten.png") no-repeat scroll left center transparent;
	}
#menu_treeview ul li ul li ul li span {
	background: url("../images/images/muiten_c.png") no-repeat scroll left center transparent;
	}	
#menu_treeview ul li ul li ul li a {
	background: none;
	}	
ul#top-nav li.menuT:hover, ul#top-nav li.over {
    background-color: #FFFFFF;
    background-image: url("../images/images/inbox/menu_04.gif");
}
.detail_title
{
	font:16px Arial;
	font-weight: bold;
}
.search_img_btn
{
	 background-image: url("../images/images/search_bg_text.png");
}
#table1 tr:hover { background: #FFF !important; }
#tabletc tr:hover { background: #b0f3f1 !important; }
.btn_img_rpt
{
	 background: url("../images/lvicon/reports.png") no-repeat;
	 width:20px;
	 padding:2px;
}