BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
INPUT {
	FONT-SIZE: 11px; COLOR: #222222; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; COLOR: #222222; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BODY TABLE {
	FONT-SIZE: 11px; TEXT-ALIGN: left
}
BODY DIV {
	FONT-SIZE: 11px; TEXT-ALIGN: left
}
A {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f7931d; TEXT-DECORATION: underline
}
A.searchresult {
	COLOR: #003399; TEXT-DECORATION: underline
}
A.searchresult:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.searchresult:hover {
	COLOR: #f7931d; TEXT-DECORATION: underline
}
.description {
	COLOR: #333333
}
A.txt_promo_bold {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.txt_promo_bold:visited {
	FONT-WEIGHT: bold; COLOR: #333333; TEXT-DECORATION: underline
}
A.txt_promo_bold:hover {
	FONT-WEIGHT: bold; COLOR: #f7931d; TEXT-DECORATION: underline
}
.txt_promo_bold {
	FONT-WEIGHT: bold
}
A.txt_promo_boldred {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.txt_promo_boldred:visited {
	FONT-WEIGHT: bold; COLOR: #333333; TEXT-DECORATION: underline
}
A.txt_promo_boldred:hover {
	FONT-WEIGHT: bold; COLOR: #f7931d; TEXT-DECORATION: underline
}
.txt_promo_boldred {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.txt_title A {
	FONT-WEIGHT: normal
}
.txt_title A:hover {
	FONT-WEIGHT: normal
}
.nav_bar {
	PADDING-RIGHT: 8px; PADDING-LEFT: 23px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #ffff00; PADDING-TOP: 5px
}
.nav_bar A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #ffff00; PADDING-TOP: 5px
}
.nav_bar A:hover {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px
}
.nav_bar A.selected {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px
}
.nav_bar_right {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.nav_bar_right A {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.nav_bar_right A:hover {
	FONT-WEIGHT: bold; COLOR: #ffff00; TEXT-DECORATION: underline
}
.txt_note {
	FONT-SIZE: 10px
}
.txt_1 {
	COLOR: #ffffff
}
.txt_2 {
	COLOR: #666666
}
.txt_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #33bef2
}
.txt_error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.txt_title {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(http://images.vietnamworks.com/bar_title.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.txt_tilte_lv2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f7931d; TEXT-ALIGN: left
}
.txt_require {
	PADDING-LEFT: 0px; COLOR: #ff0000; TEXT-ALIGN: left
}
.txt_orange {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ff9900; PADDING-TOP: 15px
}
.txt_bluelogo {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #00aeef
}
.error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.error_text {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt_adver {
	FONT-SIZE: 10px; COLOR: #cecece
}
.e_home_recruit {
	PADDING-LEFT: 245px; BACKGROUND: url(http://images.vietnamworks.com/e_home_recruit.gif) no-repeat center top; WIDTH: 280px; PADDING-TOP: 185px; voice-family: inherit
}
.bla1 {
	
}
.e_home_recruit_vn {
	PADDING-LEFT: 245px; BACKGROUND: url(http://images.vietnamworks.com/e_home_recruit_vn.gif) no-repeat center top; WIDTH: 280px; PADDING-TOP: 185px; voice-family: inherit
}
.bla2 {
	
}
.e_home_box {
	WIDTH: 170px
}
.bla3 {
	
}
.e_home_box_inside {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://images.vietnamworks.com/e_cell_body.gif) no-repeat 50% top; PADDING-BOTTOM: 10px; WIDTH: 150px; COLOR: #ffffff; PADDING-TOP: 10px; voice-family: inherit
}
.bla4 {
	
}
.e_home_box_inside A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.e_home_box_inside A:hover {
	COLOR: #fff200
}
.e_login {
	PADDING-LEFT: 350px; BACKGROUND: url(http://images.vietnamworks.com/e_home_login.gif) no-repeat center top; PADDING-TOP: 70px
}
.e_login_vn {
	PADDING-LEFT: 350px; BACKGROUND: url(http://images.vietnamworks.com/e_home_login_vn.gif) no-repeat center top; PADDING-TOP: 70px
}
.main_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 778px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.main_left {
	BACKGROUND: #e5e5e5 repeat-y right 50%
}
.main_right {
	BACKGROUND: #e5e5e5 repeat-y left 50%
}
.top_space {
	HEIGHT: 4px
}
.top_left {
	PADDING-LEFT: 20px; BACKGROUND: #939598; COLOR: #ffffff; TEXT-ALIGN: left
}
.top_left STRONG {
	COLOR: #ffff00
}
.top_right {
	PADDING-RIGHT: 10px; BACKGROUND: #939598; COLOR: #ffffff; TEXT-ALIGN: right
}
.top_right A {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
.top_right A:hover {
	FONT-WEIGHT: bold; COLOR: #ffff00; TEXT-DECORATION: underline
}
.top_right STRONG {
	COLOR: #ffff00
}
.quick_search_head {
	PADDING-LEFT: 10px; BACKGROUND: url(http://images.vietnamworks.com/blue_quick_search_head.gif) no-repeat; HEIGHT: 22px
}
.quick_search_body {
	BACKGROUND: url(http://images.vietnamworks.com/blue_quick_search_body.gif) no-repeat; HEIGHT: 59px; TEXT-ALIGN: center
}
.main_body {
	BACKGROUND: #00aeef
}
.main_body_content {
	BACKGROUND: url(http://images.vietnamworks.com/bg_body_head.gif) #ffffff no-repeat 50% top
}
.e_main_inner_content {
	FLOAT: left; WIDTH: 69%
}
.ad_space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 16px; TEXT-ALIGN: left
}
.cell_bar {
	PADDING-LEFT: 13px; BACKGROUND: url(http://images.vietnamworks.com/blue_cell_title_left.gif) #00aeef no-repeat left 50%; HEIGHT: 25px
}
.cell_bar_2 {
	PADDING-LEFT: 17px; BACKGROUND: url(http://images.vietnamworks.com/blue_cell_title_left_2.gif) #00aeef no-repeat left 50%; HEIGHT: 25px
}
.cell_bar_2 SPAN {
	BACKGROUND: white; FLOAT: right
}
.cell_bar SPAN {
	FLOAT: right
}
.middle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.middle2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #004c9b; PADDING-TOP: 5px
}
.cell_feature {
	BACKGROUND: #99ccff
}
.cell_feature_2 {
	BACKGROUND: #cadff3
}
.cell_feature_3 {
	PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: #999999; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px
}
.cell_feature .top SPAN {
	FLOAT: right
}
.cell_feature .bottom SPAN {
	FLOAT: right
}
.cell_feature_2 .top SPAN {
	FLOAT: right
}
.cell_feature_2 .bottom SPAN {
	FLOAT: right
}
.cell_feature_4 {
	BACKGROUND: #cccccc
}
.cell_feature_4 .top SPAN {
	FLOAT: right
}
.cell_feature_4 .bottom SPAN {
	FLOAT: right
}
.inner_tbl_top {
	PADDING-LEFT: 15px; BACKGROUND: url(http://images.vietnamworks.com/tbl_top.gif) repeat-x 50% bottom
}
.inner_tbl_bottom {
	BACKGROUND: url(http://images.vietnamworks.com/tbl_bottom.gif) repeat-x 50% bottom
}
.inner_tbl_body {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #dedede 1px solid; TEXT-ALIGN: justify
}
.inner_tip_tbl_banner {
	BACKGROUND: url(http://images.vietnamworks.com/tip_tbl_tl_2.gif) no-repeat left bottom; VERTICAL-ALIGN: top; HEIGHT: 32px; TEXT-ALIGN: right
}
.inner_tip_tbl_top {
	BACKGROUND: url(http://images.vietnamworks.com/tip_tbl_top.gif) repeat-x 50% bottom
}
.inner_tip_tbl_bottom {
	BACKGROUND: url(http://images.vietnamworks.com/tip_tbl_bottom.gif) repeat-x 50% bottom
}
.inner_tip_tbl_body {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #b2b2b2 1px solid; TEXT-ALIGN: justify
}
.poll_top TD {
	BACKGROUND: url(http://images.vietnamworks.com/blue_box_bg.gif) repeat-x; TEXT-ALIGN: center
}
.poll_body {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dedede 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #dedede 1px solid
}
.line {
	CLEAR: both; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line.gif) repeat-x; HEIGHT: 1px
}
.line_2 {
	CLEAR: both; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_2.gif) repeat-x; HEIGHT: 1px
}
.line_3 {
	CLEAR: both; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) repeat-x; HEIGHT: 1px
}
.tbl_center TD {
	TEXT-ALIGN: center
}
.footer {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://images.vietnamworks.com/bg_footer.gif); PADDING-BOTTOM: 10px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #939598; TEXT-ALIGN: center
}
.footer A {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.footer A:hover {
	FONT-WEIGHT: bold; COLOR: #ffff00; TEXT-DECORATION: underline
}
.footer_hidden {
	DISPLAY: none
}
.box_login_home {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(http://images.vietnamworks.com/bg_login.gif) no-repeat center 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.box_login_inner {
	BACKGROUND: url(http://images.vietnamworks.com/login_box_03.gif) no-repeat right bottom
}
.career_advice {
	PADDING-LEFT: 154px; BACKGROUND: url(http://images.vietnamworks.com/banner_careeradvice.gif) #cadff3 no-repeat 50% top; VERTICAL-ALIGN: bottom; PADDING-TOP: 55px
}
.left_menu {
	PADDING-LEFT: 5px; PADDING-TOP: 5px
}
.left_menu .body {
	PADDING-LEFT: 5px; BACKGROUND: #cccccc
}
.left_tips {
	PADDING-LEFT: 10px; FLOAT: left; VERTICAL-ALIGN: top
}
.left_form {
	PADDING-LEFT: 30px; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.inner_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.welcome {
	PADDING-BOTTOM: 15px
}
.wrapper .my_resume {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_job_alert {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_job_tracker {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_career_advice {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_job {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_candidate {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_template {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.wrapper .my_resume_alert {
	PADDING-LEFT: 1px; FLOAT: left; WIDTH: 49.5%
}
.tbl {
	BACKGROUND-COLOR: #ffffff
}
.wrapper_2 {
	PADDING-RIGHT: 81px; PADDING-LEFT: 81px; WIDTH: 595px; PADDING-TOP: 20px; voice-family: inherit
}
.wrapper_2columns {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.tbl_tr_list {
	FONT-WEIGHT: bold; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_2.gif) #999999 repeat-x 50% bottom; COLOR: white; HEIGHT: 20px; TEXT-ALIGN: left
}
.tbl_td_list {
	BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) repeat-x 50% bottom
}
.tbl_td_list2 {
	BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) #d7e7f6 repeat-x 50% bottom
}
.tbl_td_list3 {
	BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) #e7f2fd repeat-x 50% bottom; COLOR: #000000
}
.tbl_td_list3 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.tbl_td_list TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #003399; PADDING-TOP: 3px
}
.tbl_td_list2 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #003399; PADDING-TOP: 3px
}
.tbl_td_list A {
	TEXT-DECORATION: underline
}
.tbl_td_list2 A {
	TEXT-DECORATION: underline
}
.rs_search_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_2.gif) #999999 repeat-x 50% bottom; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px
}
.brief_list TD {
	PADDING-LEFT: 5px; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) repeat-x 50% bottom
}
.brief_list_2 TD {
	PADDING-LEFT: 5px; BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) #f7f7f7 repeat-x 50% bottom
}
TD.rs_search_check {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.rs_search_des {
	BACKGROUND: url(http://images.vietnamworks.com/blue_dot_line_3.gif) #f7f7f7 repeat-x 50% bottom
}
.thank_page {
	PADDING-RIGHT: 230px; PADDING-LEFT: 25px; BACKGROUND: url(http://images.vietnamworks.com/thanks_box.gif) no-repeat 50% bottom; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; PADDING-TOP: 115px
}
.thank_page DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; COLOR: #00aeef
}
.thank_page SPAN {
	FONT-WEIGHT: bold; COLOR: #31b733
}
.pl_tbl {
	BORDER-RIGHT: #666 0px solid; BORDER-TOP: #666 0px solid; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid
}
.pl_tbl TR TD {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-COLLAPSE: collapse
}
.pl_header {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: #00aeef; COLOR: #ffffff
}
.pl_header_2 {
	FONT-WEIGHT: bold
}
.pl_sub_1 {
	BACKGROUND: #ccc; MARGIN: 1px 1px 0px 0px
}
.pl_sub_2 {
	BACKGROUND: #fff; MARGIN: 1px 1px 0px 0px
}
.tabcontent {
	DISPLAY: none
}
.news_frame {
	MARGIN-TOP: 5px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.paginator {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.paginator A {
	TEXT-DECORATION: underline
}
.paginator A:visited {
	TEXT-DECORATION: underline
}
.paginator .this-page {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.paginator A:hover {
	TEXT-DECORATION: underline
}
#hintbox {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; Z-INDEX: 100; VISIBILITY: hidden; PADDING-BOTTOM: 3px; FONT: 9px/18px Verdana; BORDER-LEFT: black 1px solid; WIDTH: 150px; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: lightyellow; TEXT-ALIGN: left
}
.hintanchor {
	MARGIN: 3px 8px; CURSOR: help
}
.tab_boder_body_left {
	BORDER-LEFT: #00aeef 1px solid
}
.tab_boder_body_right {
	BORDER-RIGHT: #00aeef 1px solid
}
.tab_boder_head {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://images.vietnamworks.com/tab_border_bg_top.gif); BACKGROUND-REPEAT: repeat-x
}
.tab_boder_foot {
	BORDER-BOTTOM: #00aeef 1px solid
}
.blueSubTitle {
	FONT-SIZE: 12px; COLOR: #ff9900
}
.blueSubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.e_border_upgrade {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(http://images.vietnamworks.com/border_1.gif) no-repeat center 50%; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#div_head_bar {
	CLEAR: both
}
.head_bar_select {
	PADDING-LEFT: 22px; FONT-WEIGHT: bold; BACKGROUND: url(http://images.vietnamworks.com/bullet_7.gif) no-repeat left 50%; FLOAT: left; COLOR: #ffffff
}
.head_bar_select .left {
	BACKGROUND: url(http://images.vietnamworks.com/head_bar_select_l.gif) no-repeat left 50%; FLOAT: left; WIDTH: 5px; HEIGHT: 25px
}
.head_bar_select .main_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #00aaef; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.head_bar_select .right {
	BACKGROUND: url(http://images.vietnamworks.com/head_bar_select_r.gif) no-repeat right 50%; FLOAT: left; WIDTH: 5px; HEIGHT: 25px
}
.head_bar {
	PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(http://images.vietnamworks.com/bullet_7.gif) no-repeat left 50%; FLOAT: left; COLOR: #00aaef
}
.head_bar .left {
	BACKGROUND: url(http://images.vietnamworks.com/head_bar_l.gif) no-repeat left 50%; FLOAT: left; WIDTH: 5px; HEIGHT: 25px
}
.head_bar .main_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://images.vietnamworks.com/head_bar_bg.gif); FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.head_bar .right {
	BACKGROUND: url(http://images.vietnamworks.com/head_bar_r.gif) no-repeat right 50%; FLOAT: left; WIDTH: 5px; HEIGHT: 25px
}
.btn_js {
	BORDER-RIGHT: #b66c15 1px solid; BACKGROUND-POSITION: center 50%; BORDER-TOP: #f9ab4f 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://images.vietnamworks.com/btn_bg.gif); BORDER-LEFT: #f9ab4f 1px solid; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #b66c15 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #ff9900
}
