body  {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font:12px Arial,Tahoma;
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
#sof
{
	width:1200px;
	
}
a
{
	text-decoration:none;
}
#func_id
{
	top:0px;
}
.lifullmenucur .csshomeicon
{
		background:url(../images/icon/home_n.png) no-repeat top center;
	width:20px;
	height:21px;
}
.lifullmenu .csshomeicon
{
		background:url(../images/icon/home.png) no-repeat top center;
	width:20px;
	height:21px;
}
/*--------------------------------------------------- Left Menu ---------------------------------------------------*/
.lvtree_box
{
	background:#1278d1;
	border-radius:5px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	max-width:100px;
	color:#fff;
}
#sof_left
{
	float:left;
	width:254px;
	background:#bcbec0;
	overflow:auto;
	padding-top:20px;
	margin-right:20px;
	height:200px;
}
#sof_left .sof_left_logo
{
	height:172px;
}
#sof_left .sof_left_menu
{
	
}
.color_line_fttext
{
	clear:both;
	background:#f2f2f2;
	font:bold 14px Arial,Tahoma;
	color:#4d4d4f;
	padding:10px;
	text-align:left;
	padding-left:30px;
	overflow:hidden;
	text-decoration:none;
}
.color_line_fttext a
{
	text-decoration:none;
}
.color_line_hdtext
{
	background:#f2f2f2;
	font:bold 14px Arial,Tahoma;
	color:#4d4d4f;
	border-bottom:1px #eaeaea solid;
	padding:10px;
	text-align:left;
	padding-left:30px;
}
.color_line_text
{
	background:#f2f2f2;
	text-align:left;
	padding:10px;
	color:#000000;
	padding-left:30px;
	font:14px Arial,Tahoma;
	border-bottom:1px #eaeaea solid;
}
#sof_left .sof_left_menu .color_line
{
	color:#fff;
	font:14px Arial,Tahoma;
	background:#1278d1;
	text-align:left;
	line-height:22px;
}
.color_line_bold
{
	color:#fff;
	font:bold 14px Arial,Tahoma;
	background:#1278d1;
	text-align:center;
	line-height:22px;
	padding:10px;
}
#sof_left .sof_left_menu .color_line  a
{
	color:#fff;
	font:14px Arial,Tahoma;
	text-align:left;
	line-height:22px;
	text-decoration:none;
}
#sof_left .sof_left_menu .color_line p
{
	padding:0px;
	margin:0px;
	padding-left:30px;
	text-transform:uppercase;
}
#sof_left .sof_left_menu .color_line ul li p
{
	padding-left:0px;
	line-height:33px;
	text-transform:none;
}
#sof_left .sof_left_menu .color_line ul
{
	font:14px Arial,Tahoma;
	font-weight:none;
	background:#f2f2f2;
	color:#666666;
	padding:0px;
	list-style:none;
	margin:0px;
}
#sof_left .sof_left_menu .color_line ul li
{
	border-bottom:1px #eaeaea solid;
	padding-left:20px;
}
#sof_left .sof_left_menu .color_line ul ul
{
	
}
#sof_left .sof_left_menu .color_line ul ul li
{
	border-top:1px #eaeaea solid;
	border-bottom:none;
	background:url(../images/leftadd.png) no-repeat top left;
}
#sof_left .sof_left_menu .color_line ul ul ul li
{
	border-top:1px #eaeaea solid;
	border-bottom:none;
	background:url(../images/arrow.png) no-repeat top left;
}
#sof_left .sof_left_menu .color_line ul li a
{
	color:#666666;
}
#sof_left .sof_left_menu .color_line ul li a:hover
{
	color:#1278d1;
}
#sof_left .sof_left_menu .none_line
{
	clear:both;
	background:#bcbec0;
	line-height:5px;
}
#sof_left .sof_left_themes
{
	padding:10px;
	padding-left:30px;
	overflow:hidden;
	clear:both;
}
#sof_left .sof_left_themes .text_home,#sof_left .sof_left_themes .text_home a
{
	
	text-align:left;
	color:#4e4e50;
	text-decoration:none;
}
#sof_left .sof_left_themes .ft_hotline
{
	font:bold 16px Myriad Pro,Arial,Tahoma;
	color:red;
}
#sof_left .sof_left_themes .sof_left_themes_title
{
	color:#fff;
	font:14px Arial,Tahoma;
	background:#4d4d4f;
	text-align:left;
	line-height:22px;
	padding:5px;
	text-align:center;
	width:150px;
}
#sof_left .sof_left_themes .sof_left_themes_content
{
	width:150px;
	background:#f2f2f2;
	text-align:left;
	padding:5px;
}
/*--------------------------------------------------- Pages ---------------------------------------------------*/
#sof_pages
{
	background:#fff;
	width:944px;
	float:left;
	border:0px #EAEAEA solid;
}
#sof_pages .sof_pages_header { 
	background: #; 
	padding: 0;
	margin: 0;
	top:0px;
	position: fixed;
	background:#fff;
	width:100%;
	z-index:999;
}
#sof_pages .sof_pages_header  .hd_title
{
	height:35px;
	border-bottom:5px #1278d1 solid;
}
ul#menu2-nav li a
{
	color:#fff!important;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_left
{
	width:333px;
	padding-left:0px;
	float:left;
	text-align:left;
	font:bold 14px Myriad Pro,Arial,Tahoma;
	padding-top:5px;
	background:#1278d1;
}
.bg_next_prev
{
	background:#1278d1;;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_right
{
	width:35px;
	float:right;
	text-align:right;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	white-space:nowrap;
}
#sof_pages .sof_pages_header  .hd_title .hd_title_right a
{
	color:#4d4d4f;
	padding:5px;
	text-decoration:none;
}
#sof_pages .sof_pages_header .hd_title_content
{
	height:40px;
	font:14px Myriad Pro,Arial,Tahoma;
	padding-top:13px;
	text-align:left;
	padding-left:30px;
}
#sof_pages .sof_pages_header .hd_func
{
	height:68px;
	border-bottom:1px #eaeaea solid;
}
#sof_pages .sof_pages_header .hd_func .hd_func_left
{
	padding-left:30px;
	float:left;
	text-align:left;
	color:#4d4d4f;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	padding-top:10px;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right
{
	width:550px;
	padding-right:30px;
	padding-top:40px;
	float:right;
	text-align:right;
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right a
{
	font:14px Myriad Pro,Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
	padding:5px;
	text-decoration:none;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right a:hover
{
	color:#1278d1;
}
#sof_pages .sof_pages_header .hd_func .hd_func_right ul
{
	padding:0px;
	margin:0px;
}
#sof_pages .sof_pages_header .hd_subtitle
{
	height:30px;
	padding-top:10px;
	text-transform:uppercase;
	font-size:20px;
}
.lvtitle
{
color:#006a96;
font-weight:bold;
font-size:20px;
}
/*-------------end id_search---------------*/
/*------------start contenthome--------------*/
#sof_pages  .sof_pages_full
{
	
}
#submenu-nav
{
overflow:auto;
height:300px;
}
#sof_pages  .sof_pages_content
{
	background:#fff;
	text-align:left;
	float:left;
}
#sof_pages  .sof_pages_content .frmlogin
{
	background:#f2f2f2;
	width:260px;
	font:12px Arial,Tahoma;
	font-weight:none;
	color:#000;
	overflow:hidden;
	padding:20px;
	border-right:1px #a3a3a3 solid;
	border-bottom:1px #a3a3a3 solid;
}
#sof_pages  .sof_pages_content .frmlogin .loginname
{
	clear:both;
	padding:5px;
	overflow:hidden;

}
#sof_pages  .sof_pages_content .frmlogin .loginname .inputtext
{
	width:250px;
	height:25px;
}
#sof_pages  .sof_pages_content .frmlogin .loginname .selecttext
{
	width:180px;
	height:25px;
}
/*-----------start footer----------------*/
#sof_pages .sof_pages_footer
{
	clear:both;
	background:#ffffff ; 
	height:40px;
}
#sof_pages .sof_pages_footer .sof_pages_footer_left
{
	font:12px Arial,Tahoma;
	font-weight:none;
	color:#4d4d4f;
	float:left;
	right:left;
	padding-left:30px;
	text-align:left;
}
#sof_pages .sof_pages_footer .sof_pages_footer_left span
{
	font:18px Arial,Tahoma;
	font-weight:none;
	color:#ff0000;
}
#sof_pages .sof_pages_footer .sof_pages_footer_right
{
	width:auto;
	padding-right:30px;
	text-align:right;
}
/*-----------end footer----------------*/



/*---------------other themes----------------*/
table,td {
	color: #000;
	font-size: 12px;
	}

p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 12px;
	}
	
form {
	margin: 0px;
	}
.lv0 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform:uppercase;
	}
h1 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform:uppercase;
	}

h2 {
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: 0px;
	margin-top: 0px;
	}

h3 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px; 
	font-weight: bold; 
	margin-bottom: 4px;
	}

h4 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	margin-bottom: 2px;
	}

h5 {
	color: #000000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px; 
	font-weight: bold; 
	margin-bottom: 1px;
	}
	
UL {
	margin:0px;
	padding: 0px;
	list-style: none;
	}
	
hr {
	height: 1px;
}

.lvhtable
{
font-family: 12pt Arial, Helvetica, sans-serif;
font-weight:bold;
background-color:#1278d1;
color:#FFFFFF;
text-align: center;
}
.lvlinehtable0
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#eaeaea;
}
.lvlinehtable1
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#ffffff;
}
.lvlinehtable3
{
font: 12pt Arial, Helvetica, sans-serif;
background-color:#F3898C;
}
.lvtable
{
width:100%;
border-spacing:1px;
border-left;
}
.lvTTable
{
font: 16pt Arial, Helvetica, sans-serif;
font-weight:bold;
text-align:center;
color:#326a9a;
}
.lvmaxrow
{
width:50px;
}
.lvsortrow
{
width:100px;
}
TABLE#lvtoolbar {
	MARGIN-RIGHT: 30px;
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:#f2f2f2;
}
TABLE#lvtoolbar td
{
	padding:5px;
}
TABLE#lvtoolbar td .lv_functext
{
	padding-top:5px;
	padding-left:5px;
	color:#4d4d4f;
	font:12px Myriad Pro,Arial,Tahoma;
}
TABLE#lvtoolbar td .lv_functext:hover
{
	COLOR: #ff9900;
}
.lvtable 
{
	background:#d1d3d4;
}
.lvtable  .lvtabletd
{
	background:#1278d1;
	color:#fff;
	text-align:center;
}
.lvtabletotal
{
	background:#fff;
	color:#000;
}
.lvtable .cssbold_tab
{
	background:#F2F2F2;
}
.lvtable td
{
	padding:2px;
}
TABLE#lvtoolbar A.lvtoolbar {
	WIDTH: auto;
	height:30px;
	/*padding:5px;*/
	COLOR: #808080; 
	TEXT-DECORATION: none;
}
TABLE#lvtoolbar A.lvtoolbar:hover {
	COLOR: #c64934;
	BACKGROUND-COLOR: #f1e8e6p;
}
TABLE#lvtoolbar A.lvtoolbar:active {
	COLOR: #ff9900;
}
.lvframe
{
width:100%;
background-color:#f1f1f1;
border:0px #FFFFFF inset;
border-bottom:0px inset;

}
.lvnumpageselect
{
text-decoration:none;
background:#CCCCCC;
color:#FFFFFF;
}
.lvnumpagenone
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvnumpageprev
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvnumpagenext
{
text-decoration:none;
background:#666666;
color:#FFFFFF;
}
.lvbarview
{
color:#3e3e3e;

}
.lvfuncview
{
text-decoration:none;
color:#3e3e3e;

}
.lvcurrentTab
{
font:Arial, Helvetica, sans-serif;
text-decoration:none;
color:#006a96;
font-size:16px;

}
.lvotherTab
{
font:Arial, Helvetica, sans-serif;
text-decoration:none;
color:#FFFFFF;
font-size:16px;

}
.lvbtdisplay
{
width:140px;
height:25px;
border-collapse:collapse;
}
.lvlineapproval,.lvlineapproval a
{
color:#04521e!important;
}
.lvlineapproval_level2
{
color:#008844;
}
.lvlineapproval_red
{
color:red;
}
.lvlineboldtable
{
font-weight:bold;
}
.lvlinenoboldtable
{
font-weight:100;
}
.lv_linone
{

}
.lv_linone p
{
	width:100%;
	background:none;
}

.lv_liselected p
{
	width:100%;
	background:#000;
}
#menu_treeview
{
	width:234px;
}
#menu_treeview ul
{
	width:100%;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

#menu_treeview ul li span
{
	padding-left:10px;
}
#menu_treeview ul li ul li span
{
 padding-left:25px;
}
#menu_treeview ul li ul li ul li span
{
 padding-left:35px;
}
#menu_treeview ul li ul li ul li ul li span
{
 padding-left:45px;
}
/*#menu_treeview ul li ul
{
	padding-left:15px;
	width:100%;
}*/
#menu_treeview .lv_liselected
{
background: url("../images/images/inbox/menu_04.gif") no-repeat	scroll right top transparent;
}
#menu_treeview .lv_liselectedcon
{
background: url("../images/images/inbox/menu_04_con.gif") no-repeat	scroll right top transparent;
}
#menu_treeview ul li ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02_con.gif") no-repeat	scroll right top transparent;
    border-top: 1px solid #F1F1F1;
}
#menu_treeview ul li ul li ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02_con2.gif") no-repeat	scroll right top transparent;
    border-top: 1px solid #F1F1F1;
}
#menu_treeview ul li
{
	width:auto;
	background: url("../images/images/inbox/menu_02.gif") no-repeat	scroll right top transparent;
    border-bottom: 1px solid #F1F1F1;
}
#menu_treeview ul  a {
    color: #767676;
    display: block;
    font: bold 10pt arial,verdana,helvetica,sans-serif;
    padding: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 3px;
    
}
#menu_treeview ul .menuleft_con
{
	width: 100%;
	background: url("../images/images/muiten_con.png") no-repeat scroll right center transparent;	
}
#menu_treeview ul li ul li span {
	background: url("../images/images/muiten.png") no-repeat scroll left center transparent;
	}
#menu_treeview ul li ul li ul li span {
	background: url("../images/images/muiten_c.png") no-repeat scroll left center transparent;
	}	
#menu_treeview ul li ul li ul li a {
	background: none;
	}	
ul#top-nav li.menuT:hover, ul#top-nav li.over {
    background-color: #FFFFFF;
    background-image: url("../images/images/inbox/menu_04.gif");
}
.detail_title
{
	font:16px Arial;
	font-weight: bold;
}
.search_img_btn
{
	 background-image: url("../images/images/search_bg_text.png");
}
.btn_img_rpt
{
	 background: url("../images/lvicon/reports.png") no-repeat;
	 width:20px;
	 padding:2px;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url('../images/bt_top.png') no-repeat;
}
#lvright,#content_child
{
	background:#fcfcfc;	
}
#lvright
{
	border-left:1px #f2f2f2 solid;
	border-right:1px #f2f2f2 solid;
	border-bottom:1px #f2f2f2 solid;
}
.table1
{
	background:#fff;
	padding:20px;
	padding-top:5px;	
}
.table1 td
{
	font:13px Arial,tahoma;
	color:#636466;
	padding:5px;
}
.table1 tr:hover { 
	background: #ccdde7 !important; 
}
#tabletc tr:hover { background: #b0f3f1 !important; }

.showparenttext
{
	background:#1278d1;
}
.lv_gachchia
{
	border-top:1px #1278d1 solid;
	height:20px;
	margin-top:12px
}
.story
{
	text-align:left;	
}
#content_child h2
{
	color:#636466;
	padding-left:20px;
	border-bottom:1px #1278d1 solid;
	text-align:left;
}
#content_child .lvtitle
{
	color:#636466;
	font:18px arial,tahoma;
	padding-left:20px;
	border-bottom:1px #1278d1 solid;
	text-align:left;
}
#toolbar
{
	background:#d1d3d4
}
#toolbar a
{
	color:#4d4d4f;
	font:12px arial,tahoma;
}
.toolbar_selected,.toolbar_selected a
{
	background: #1278d1;
	color:#fff !important;
}
input,select
{
	height:23px;
}
input.file {
	width: auto;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}

div.file_upload {
	margin-top:-10px;
	padding:0px;
	width: auto;
	height: 23px;
	background: #1278d1;
	background: -moz-linear-gradient(top,  #1278d1 0%, #1278d1 44%, #1278d1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1278d1), color-stop(44%,#1278d1), color-stop(100%,#1278d1));
	background: -webkit-linear-gradient(top,  #1278d1 0%,#1278d1 44%,#1278d1 100%);
	background: -o-linear-gradient(top,  #1278d1 0%,#1278d1 44%,#1278d1 100%);
	background: -ms-linear-gradient(top,  #1278d1 0%,#1278d1 44%,#1278d1 100%);
	background: linear-gradient(top,  #1278d1 0%,#1278d1 44%,#1278d1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1278d1', endColorstr='#1278d1',GradientType=0 );

	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 8px;
}
div.file_upload:before {
	content: 'CHỌN HÌNH';
	position: absolute;
	left: 0; right: 0;
	text-align: center;
	
	cursor: pointer;
}

div.file_upload input {
	position: relative;
	display: inline;
	cursor: pointer;
	opacity: 0;
}
.menu_cur
{
	color:red !important;
}
/*---------------fullmenu---------------------*/
.hd_fullmenu
{
	border-bottom:1px #eceaeb solid;
	overflow:hidden;
}
.qlyfullmenu
{
	list-style:none;
	
}
.qlyfullmenu li
{
	float:left;
	padding:0px;
	max-width:170px;
	white-space:nowrap;
	overflow:hidden;
	padding:4px;
	padding-right:20px;
	position:relative;
}
.lifullmenu , .lifullmenu a
{
	background:#f2f2f2;
	border-radius:0px 0px 0px 0px;
	color:#3e3e3e;
	cursor:pointer;
	margin-left:3px;
}
.lifullmenucur,.lifullmenucur a,.lifullmenu a:hover 
{
	background:#1278d1;
	border-radius:0px 0px 0px 0px;
	color:#fff;
}
/*---------------cafe---------------------*/
.hd_cafe
{
	border-bottom:1px #eceaeb solid;
	overflow:hidden;
}
.qlycafe
{
	list-style:none;
	
}
.qlycafe li
{
	float:left;
	padding:0px;
}
.licafe
{
	background:#1278d1;
	border-radius:0px 0px 0px 0px;
	padding:12px;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
	cursor:pointer;
}
.licafecur,.licafe:hover
{
	background:#eceaeb;
	border-radius:0px 0px 0px 0px;
	padding:12px;
	padding-left:15px;
	padding-right:15px;
	color:black;
}
.lifullmenu .hvclose
{
  margin:3px;
  background:url(../images/icon/delete_n.png);
  width:13px;
  height:12px;
  cursor:pointer;
}
.lifullmenu .hvclose:hover
{
  margin:3px;
  background:url(../images/icon/delete.png);
  width:13px;
  height:12px;
}
.lifullmenucur .hvclose
{
	cursor:pointer;
  margin:3px;
  background:url(../images/icon/delete_s.png);
  width:13px;
  height:12px;
}
.lifullmenucur .hvclose:hover
{
  margin:3px;
  background:url(../images/icon/delete_ss.png);
  width:13px;
  height:12px;
}
.lifullmenucur .hvadd
{
	cursor:pointer;
  margin:3px;
  background:url(../images/icon/add_n.png);
  width:13px;
  height:12px;
}
.lifullmenucur .hvadd:hover
{
  margin:3px;
  background:url(../images/icon/add_ns.png);
  width:13px;
  height:12px;
}
.lifullmenu .hvadd
{
	cursor:pointer;
  margin:3px;
  background:url(../images/icon/add_bn.png);
  width:13px;
  height:12px;
}
.lifullmenu .hvadd:hover
{
  margin:3px;
  background:url(../images/icon/add_bs.png);
  width:13px;
  height:12px;
}
#countdown
{
	color:#fff;
}
.tang_left
{
	background:#f2f2f2;
	border:1px #eaeaea solid;
}
.tang_left ul li
{
	padding:10px;
}
.tang_left .litangleft
{
	height:60px;
	padding:10px;
	cursor:pointer;
	border-radius:7px;
	background:#eceaeb;
}
.tang_left .current
{
	background:#1278d1;
	color:#fff;
	cursor:default !important;
}
.tang_left ul
{
	padding:0px;
	margint:0px;
}
.tang_left ul li
{
	
}
.bangleft
{
	width:150px;
	height:120px;
	margin:10px;
	border:1px #000 solid;
	border-radius:5px;
	float:left;
	cursor:pointer;
	position:relative;
}
.bangleft ul
{
	padding:10px;
	margin-top:20px;
}
.active
{
	background:#1278d1!important;
}
.vitribang
{
	position:absolute;
	bottom:0px;
	width:150px;
}
.tratien
{
	background:#1278d1;
	border-radius:17px 0px 0px 0px;
	color:#fff;
	padding:5px;
	width:65px;
	text-align:center;
	cursor:pointer;
	float:left;
}
.banhang
{
	background:#77d3f9;
	border-radius:7px 7px 0px 0px;
	color:#fff;
	padding:5px;
	text-align:center;
	cursor:pointer;
}
.bangtitle
{
	background:#1278d1;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	text-align:center;
	position:absolute;
	top:0px;
	width:130px;
	font:bold 12px Arial,tahoma;
}
.bangtitlewait
{
	background:#149fd9;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	text-align:center;
	position:absolute;
	top:0px;
	width:130px;
	font:bold 12px Arial,tahoma;
}
.bangtitlecur
{
	background:#77d3f9;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	text-align:center;
	position:absolute;
	top:0px;
	width:130px;
	font:bold 12px Arial,tahoma;
}
.calenda_content
{
	width:60px;
	height:auto;
	position:relative;
	text-align:center;
	color:#666666;
}
.calenda_contentcur
{
	background:#cdeef9;
	color:#666666;
	width:60px;
	height:100%;
	position:relative;
	text-align:center;
}
.viewcalandar
{
	background-color:#fff;
	position:absolute;
	border-radius:3px;
	border:1px #030303 solid;
	text-align:left;
	padding:10px;
	width:420px;
	top:10px;
	clear:both;
	z-index:9999;
}
.buttonClass {
    width:90px;
    height:40px;
	padding:7px;
    border-radius:  0px;
    background:  #f4f4f4;
    border:1px #a7a9ac solid;
	color:#414042;
	font:11px tahoma,arial;
	cursor:pointer;
	text-align:center;
	text-transform:lowercase;
}
.ulfix
{
padding:0px;
margin:0px;
}
.ulfix li
{
overflow:hidden;
padding:5px;
}
.groupcafe
{
	color:#000;
	font:bold 13px Arial;
	background:#77d3f9;
	padding:5px;
	width:100%;
}
.khunghead
{
	position:relative;
	margin-top:10px;
	padding:10px;
}
.khungsp
{
	position:relative;
	border:1px #d1d3d4 solid;
	background:#f2f2f2;
	overflow:hidden;
	clear:both;
	margin-top:10px;
}
.morelistid
{
	width:200px;
	background:#fff;
	border-radius:5px;
	z-index:9999;
	padding:10px;
}
.morelistidmin
{
	border-radius:5px;
	z-index:9999;
	cursor:pointer;
}
.khungsptitle
{
	font:bold 13px Arial;
}
.textunderline
{
	text-decoration:line-through;
}
.bangtime
{
	font:11px Arial,tahoma;
	color:#fff;
}
.blockbill
{
	background:url(../images/icon/Block.png) no-repeat;
}
.gopban
{
	width:30px;
	background:none;
	border:0px #c3c3c3 solid;
	border-radius:0px;
	color:#000;
	padding:0px;
	height:100px;
	text-align:center;
	cursor:pointer;
	float:left;
	margin-left:10px;
	padding-top:5px;
}

.gopban:hover
{
	background:#fff;
	opacity: 0.70;
	-moz-opacity: 0.70; 
	filter:alpha(opacity=0.70); 
	cursor:pointer;
}
.bntgop
{
	height:40px;
	width:30px;
	font:13px Arial,Tahoma;
	background:#77d3f9;
	color:#fff;
	border:1px #77d3f9 solid;
	padding:0px;
	margin:0px;
	border-radius:3px 3px 3px 3px;
	opacity: 0.90;
	-moz-opacity: 0.90; 
	filter:alpha(opacity=90); 
	cursor:pointer;
}

.chkgop
{
	width:30px;
	font:13px Arial,Tahoma;
	background:#77d3f9;
	color:#000;
	border:1px #77d3f9 solid;
	padding:0px;
	margin:0px;
	border-radius:3px 3px 3px 3px;
	opacity: 0.90;
	-moz-opacity: 0.90; 
	filter:alpha(opacity=90); 
	cursor:pointer;
}
.thanhprocess
{
	background:#fff;
	overflow:hidden;
}
.thanhnhom
{
	background:#fff;
	overflow:hidden;
	border-right:1px #d1d3d4 solid;
}
.thanhnhom .thanhcon
{
	width:80px;
	height:40px;
	float:left;
	background:#f4f4f4;
	border:1px #a7a9ac solid;
	border-radius:0px 0px 0px 0px;
	padding:5px;
	color:#414042;
	cursor:pointer;
	font:bold 11px arial,tahoma;
	margin:5px;
	text-transform:lowercase;
	text-align:center;
}
.thanhnhom .conactive
{
	background:#77d3f9;
	color:#131313;
	cursor:default;
}
.kk_thanhnhom
{
	background:#fff;
	overflow:hidden;
	border-right:1px #d1d3d4 solid;
}
.kk_thanhnhom .thanhcon
{
	width:80px;
	height:40px;
	float:left;
	background:#f4f4f4;
	border:1px #a7a9ac solid;
	border-radius:0px 0px 0px 0px;
	padding:5px;
	color:#414042;
	cursor:pointer;
	font:bold 11px arial,tahoma;
	margin:5px;
	text-transform:lowercase;
	text-align:center;
}
.kk_thanhnhom .conactive
{
	background:#77d3f9;
	color:#131313;
	cursor:default;
}
/*-----------mini screen--------------*/
.tang_leftmini
{
	background:#fff;
	padding-top:10px;

}
.tang_leftmini ul li
{
	padding:8px;
}
.tang_leftmini .litangleft
{
	height:81px;
	padding:10px;
	cursor:pointer;
	background:url(../images/icon/food.png) no-repeat center bottom #77d3f9;
	color:#fff;
}
.tang_leftmini .takeaway
{
	height:81px;
	padding:10px;
	cursor:pointer;
	background:url(../images/icon/takeaway.png) no-repeat center bottom #77d3f9 !important;
	color:#fff;
}

.tang_leftmini .current
{
	background:url(../images/icon/food.png) no-repeat center bottom #1278d1;
	color:#fff;
	cursor:default !important;
}
.tang_leftmini ul
{
	padding:0px;
	margint:0px;
}
.tang_leftmini ul li
{
	
}
.bangleftmini
{
	background:#77d3f9;
	height:102px;
	float:left;
	cursor:pointer;
	margin:8px;
}
.bang_leftmini
{
	/*position:relative;*/
}
.bangleftmini ul
{
	padding:10px;
	margin-top:20px;
}
.bangtitlemini_alarm
{
	background:url(../images/icon/cafe.png) no-repeat;
	color:#fff;
	padding-top:23px;
	padding-left:0px;
	width:100%;
	text-align:center;
	position:relative;
	top:0px;
	width:120px;
	height:79px;
	font:bold 12px Arial,tahoma;
	-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #1278d1; -webkit-box-shadow: 0 0 0px #1278d1; }
  50% { background-color: #ffaa00; -webkit-box-shadow: 0 0 0px #ffaa00; }
  100% { background-color: #1278d1; -webkit-box-shadow: 0 0 0px #1278d1; }
}

@-moz-keyframes glowing {
  0% { background-color: #1278d1; -moz-box-shadow: 0 0 0px #1278d1; }
  50% { background-color: #ffaa00; -moz-box-shadow: 0 0 0px #ffaa00; }
  100% { background-color: #1278d1; -moz-box-shadow: 0 0 0px #1278d1; }
}

@-o-keyframes glowing {
  0% { background-color: #1278d1; box-shadow: 0 0 0px #1278d1; }
  50% { background-color: #ffaa00; box-shadow: 0 0 0px #ffaa00; }
  100% { background-color: #1278d1; box-shadow: 0 0 0px #1278d1; }
}

@keyframes glowing {
  0% { background-color: #1278d1; box-shadow: 0 0 0px #1278d1; }
  50% { background-color: #ffaa00; box-shadow: 0 0 0px #ffaa00; }
  100% { background-color: #1278d1; box-shadow: 0 0 0px #1278d1; }
}
.bangtitlemini
{
	background:url(../images/icon/cafe.png) no-repeat;
	background-size: 100% 100%;
	color:#fff;
	padding-top:23px;
	padding-left:0px;
	text-align:center;
	position:relative;
	top:0px;
	height:102px;
	font:bold 12px Arial,tahoma;
	

}

.bangtitlewaitmini
{
	background:url(../images/icon/cafe.png);
	color:#fff;
	padding-left:5px;
	text-align:center;
	position:relative;
	top:0px;
	height:102px;
	font:bold 12px Arial,tahoma;
}
.waiting
{
	background:green;
}
.bangtitlecurmini
{
	background:url(../images/icon/cafe.png) ;
	background-size: 100% 100%;
	color:#fff;
	text-align:center;
	position:relative;
	top:0px;
	height:102px;
	font:bold 12px Arial,tahoma;
}
.viewlift
{
	background-color:#fff;
	position:absolute;
	border-radius:3px;
	border:1px #1278d1 solid;
	text-align:left;
	width:120px;
	top:10px;
	clear:both;
	z-index:9999;
	overflow:hidden;
}
.bt_setdefaultmini
{
	height:15px;
	padding:5px;
	width:110px;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:0px;
	background:#eceaeb;
	text-align:center;
	color:black;
	font-weight:bold;
}
.defaultredmini,.bt_setdefaultmini:hover
{
	background:#1278d1 !important;
	color:white;
	font-weight:bold;
}

.liftview_title
{
	background:#1278d1;
	color:#fff;
	padding:5px;
	padding-top:10px;
	height:30px;
	font:bold 12px Arial,tahoma;
}
.view_title
{
	color:#000;
	padding-left:10px;
	padding-top:5px;
	font:bold 12px Arial,tahoma;
	text-align:left;
}
.sanpham_bg
{
	float:left;
	/*background:#1278d1;*/
	color:#fff;
	padding:5px;
	height:40px;
	font:bold 12px Arial,tahoma;
}
.sanpham_bg_bnt
{
	padding:8px;
	background:#1278d1;
	color:#fff;
	border-radius:3px;
	text-align:center;
}
.textview
{
margin:0px;
border-radius:3px;
}
.viewcalandarmini
{
	background-color:#ecebeb;
	position:absolute;
	border-radius:0px;
	border:1px #1278d1 solid;
	/*box-shadow: 10px 10px 5px #888888;*/
	text-align:left;
	padding:0px;
	width:100%;
	top:10px;
	clear:both;
	z-index:9999;
	
	
}
.banhangmini
{
	background:#1278d1;
	border-radius:0px 0px 0px 0px;
	color:white;
	padding:8px;
	text-align:center;
	cursor:pointer;
	margin-left:3px;
	font:bold 12px Arial,tahoma;
	width:55px;
}
.banhangmini:hover
{
	background:#eceaeb;
	color:red;
}
.bt_setdefaultminiview
{
	height:15px;
	padding:5px;
	margin-top:1px;
	margin-bottom:1px;
	border-radius:0px;
	background:#fff;
	text-align:center;
	color:black;
	font-weight:bold;
	border-bottom:1px #ecebeb solid;
}
.defaultredminiview,.bt_setdefaultminiview:hover
{
	background:#1278d1 !important;
	color:white !important;
}

/*Start*/
.package-primary
{
	border-top-color: #3c8dbc;
}
.package {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.pkg_title
{
	border-bottom: 1px solid #f4f4f4;
	color: #444;
    display: block;
    padding: 10px;
    position: relative;
}	
.package-body
{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	overflow:hidden;
	
}
.text-success
{
    color: #3c763d;
}
.small-box
{
	cursor: pointer;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
	border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
} 
.bg-p1
{
	background-color: #3c8dbc;
    color: white;
}
.small-box .inner {
    min-height: 70px;
}
.small-box>.inner {
    padding: 10px;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.small-box-footer {
    cursor: pointer;
}
.price {
    font-weight: bolder;
    font-size: 24px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'Source Sans Pro',sans-serif}
.package-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.package-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.web_dialog_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .15;
	filter: alpha(opacity=15);
	-moz-opacity: .15;
	z-index: 101;
	display: none;
}
.web_dialog
{
	display: none;
	position: fixed;
	width: 600px;
	height: 432px;
	top: 30%;
	left: 50%;
	margin-left: -300px;
	margin-top: -100px;
	padding: 0px;
	z-index: 102;
	font-family: Verdana;
	font-size: 10pt;
}
.web_dialog_title
{
	border-bottom: solid 2px #336699;
	background-color: #336699;
	padding: 4px;
	color: White;
	font-weight:bold;
}
.web_dialog_title a
{
	color: White;
	text-decoration: none;
}
.align_right
{
	text-align: right;
}
.bg-teal {
    background-color: #39cccc !important;
	color:white;
}